@import "base", "icon";

/*表格css*/
.nd-grid {
	height:100%;
	width:100%;
	box-sizing: border-box;
	overflow: auto;
	display: flex;
	flex-direction: column;
	
	.nd-grid-row {
		width:inherit;
		box-sizing: border-box;
		overflow: visible;
		border-color: $nd-color6;
		display:flex;
		flex-direction:row;
		
		.nd-grid-row-item {
			display:flex;
			box-sizing: border-box;
			align-items: center;
			padding: $nd-padding;
			// overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
			text-overflow: ellipsis;
			white-space: normal;
			word-break: break-all;
			// display: inline-block;
		}

		/*icon*/
		.nd-grid-icon{
			width:25px;
			padding:0;
			cursor: pointer;
			display:flex;
			justify-content: center;
		}
		
		/*左对齐*/
		.nd-grid-align-left {
			justify-content: flex-start;
		}

		/*居中*/
		.nd-grid-align-center {
			text-align: center;
		}
	}

	.nd-grid-bodyct{
		height:inherit;
		width:fit-content;
		overflow:visible;
	}
	.nd-grid-body {
		width:inherit;
		.nd-grid-rowct{
			width:inherit;
			box-sizing: border-box;
		}
		.nd-grid-row {
			&:hover {
				@extend .nd-item-hovercolor;
			}
		}
	}

	.nd-grid-head {
		box-sizing: border-box;
		overflow:visible;
		// @include nd-color(1);
		background-color:$nd-forecolor1;
		.nd-grid-row{
			font-weight: bold;
			
			/*排序容器*/
			.nd-grid-sort {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				line-height: 8px;
				vertical-align: middle;
				@include nd-color(1);
				margin-left: 3px;
				>b{
					background-color:white;
					color:#333;
				}
				/*升序箭头*/
				.nd-grid-sort-raise {
					@extend .nd-icon-arrow-up;
					padding:1px;
				}
				/*降序箭头*/
				.nd-grid-sort-down {
					@extend .nd-icon-arrow-down;
					padding:1px;
				}

				> b:hover {
					color: $nd-color-active1;
					cursor: pointer;
					
				}
			}
		}
	}

	/*每行颜色交错*/
	.nd-grid-rowalt >div:nth-child(even) {
		background-color: $nd-color10;
		color:$nd-forecolor1;
	}

	.nd-grid-expand {
		width:inherit;
		// @include nd-color(1);
		display: flex;
		flex-direction: column;
		padding: $nd-padding;
		box-sizing: border-box;
		transition: all ease 0.2s;
	}

	.nd-grid-expand-hide{
		// display:none;
		height:0;
		overflow:hidden;
		padding:0;
		border:0;
	}
}

/*行网格线*/
.nd-grid-row-line{
	border-bottom: $nd-border;
	border-top: $nd-border;
	
	.nd-grid-row{
		border-bottom: $nd-border;
	}

	// .nd-grid-body{
	// 	.nd-grid-row:last-child{
	// 		border-bottom:0;
	// 	}
	// }

	.nd-grid-expand{
		border-bottom:$nd-border;
	}

	// .nd-grid-expand:last-child{
	// 	border-bottom:$nd-border;
	// }
}

/*列网格线*/
.nd-grid-col-line{
	border-right:$nd-border;
	border-left:$nd-border;
	
	.nd-grid-row-item{
		border-left: $nd-border;
	}
	.nd-grid-row{
		.nd-grid-row-item:first-child{
			border-left:0;
		}
	}
	
}

/*行列网格线*/
.nd-grid-all-line{
	@extend .nd-grid-row-line;
	@extend .nd-grid-col-line;
}

/*固定头*/
.nd-grid-fixhead {
	overflow: hidden;
	.nd-grid-bodyct{
		width:inherit;
		overflow:auto;
		// overflow-y:visible;
		// overflow-x:hidden;
	}

	.nd-grid-head{
		// padding-right:$nd-scrollbar-width;
	}
}
