@import "base", "icon";

/*表格css*/
.nd-grid {
	height:100%;
	width:100%;
	box-sizing: border-box;
	overflow: auto;
	display: flex;
	flex-direction: column;
	
	.nd-grid-row {
		width: 100%;
		overflow: visible;
		border-color: $nd-color6;
		// table-layout: fixed;
		// border-collapse: collapse;
		display:flex;
		flex-direction:row;
		.nd-grid-row-item {
			display:flex;
			align-items: center;
			padding: $nd-padding;
			// overflow: hidden;
			box-sizing: border-box;
			text-overflow: ellipsis;
			vertical-align: middle;
			text-overflow: ellipsis;
			white-space: normal;
			word-break: break-all;
			// display: inline-block;
		}

		/*icon*/
		.nd-grid-icon{
			width:25px;
			padding:0;
			cursor: pointer;
			display:flex;
			justify-content: center;
			align-items: center;
		}

		
		/*左对齐*/
		.nd-grid-align-left {
			justify-content: flex-start;
		}

		/*居中*/
		.nd-grid-align-center {
			text-align: center;
		}
	}

	.nd-grid-body {
		box-sizing: border-box;
		.nd-grid-row {
			&:hover {
				// @extend .nd-hover-active;
				@extend .nd-item-hovercolor;
			}
		}
	}

	.nd-grid-head {
		// width: 100%;
		box-sizing: border-box;
		// @include nd-color(1);
		background-color:$nd-forecolor1;
		.nd-grid-row{
			font-weight: bold;
			// .nd-grid-row-item{
			// 	padding:$nd-padding*2 $nd-padding;
			// }
			
			/*排序容器*/
			.nd-grid-sort {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				line-height: 8px;
				vertical-align: middle;
				@include nd-color(1);
				margin-left: 3px;
				/*升序箭头*/
				.nd-grid-sort-raise {
					@extend .nd-icon-arrow-up;
				}
				/*降序箭头*/
				.nd-grid-sort-down {
					@extend .nd-icon-arrow-down;
				}

				> b:hover {
					color: $nd-color-active1;
					cursor: pointer;
				}
			}
		}
	}

	/*每行颜色交错*/
	.nd-grid-rowalt >div:nth-child(even) {
		background-color: $nd-color10;
		color:$nd-forecolor1;
	}

	.nd-grid-sub {
		// @include nd-color(1);
		display: flex;
		flex-direction: column;
		padding: $nd-padding;
		border-bottom:$nd-border;
		border-right:$nd-border;
		box-sizing: border-box;
		transition: all ease 0.2s;
	}

	.nd-grid-hidesub{
		// display:none;
		height:0;
		overflow:hidden;
		padding:0;
		border:0;
	}
}

.nd-grid-head-row-line{
	.nd-grid-row{
		border-top: $nd-border;
		border-bottom: $nd-border;
	}
}

/*行网格线*/
.nd-grid-row-line .nd-grid-row{
	border-bottom: $nd-border;
}

.nd-grid-col-line {
	border-left: $nd-border;
	.nd-grid-row-item{
		border-right: $nd-border;
	}
}

.nd-grid-head-all-line{
	.nd-grid-row{
		border-left: $nd-border;
		border-top:$nd-border;
		border-bottom:$nd-border;
	}
	
	.nd-grid-row-item{
		border-right: $nd-border;
	}
}

.nd-grid-all-line{
	border-left: $nd-border;
	.nd-grid-row{
		border-bottom: $nd-border;
	}
	.nd-grid-row-item{
		border-right: $nd-border;
	}
}

.nd-grid-fixed {
	overflow: hidden;
	.nd-grid-body {
		overflow: auto;
	}

	.nd-grid-head{
		width:inherit;
		padding-right:1px;
		// padding-right:$nd-scrollbar-width;
	}
}
